<!doctype html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: head(_)}">
</head>
<body>
<th:block th:replace="~{fragments/general :: menu('films')}"></th:block>

<div class="container">
    <h1>Кинотека</h1>
    <div class="row">
        <div class="col-md-6 my-1 py-2 bg-light" th:each="film : ${films}">
            <div class="row">
                <div class="col-4">
                    <a th:href="@{/films/{id}(id=${film.id})}">
                        <img class="img-thumbnail" th:src="@{/files/{id}(id=${film.fileId})}">
                    </a>
                </div>
                <div class="col-8">
                    <h2 th:text="${film.name}">Железный человек</h2>
                    <dl class="row">
                        <dt class="col-sm-6">Год производства:</dt>
                        <dd class="col-sm-6" th:text="${film.year}">2008</dd>

                        <dt class="col-sm-6">Жанр:</dt>
                        <dd class="col-sm-6" th:text="${film.genre}">Фантастика</dd>

                        <dt class="col-sm-6">Продолжительность:</dt>
                        <dd class="col-sm-6" th:text="${film.durationInMinutes} + ' мин.'">121 мин. / 02:01</dd>

                        <dt class="col-sm-6">Ограничение по возрасту:</dt>
                        <dd class="col-sm-6" th:text="${film.minimalAge} + '+'">12+</dd>
                    </dl>
                    <a th:href="@{/films/{id}(id=${film.id})}">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{fragments/general :: libsBeforeEndBody}"></th:block>
</body>
</html>
