<!doctype html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: head(_)}">
</head>
<body>
<th:block th:replace="~{fragments/general :: menu('home')}"></th:block>

<div class="container">
    <h1>Проект Cinema!</h1>
    <p>Вас приветствует проект сервиса Кинотеатра, данный проект предоставляет возможность ознакомиться с
        фильмами, которые проказываются на экране и есть возможность купить билеты. Для покупки билета
        нужно зарегистрироваться или авторизоваться в системе, перейти в раздел расписания и выбрать
        необходимый сеанс фильма.</p>
    <p>Доступные разделы:</p>
    <ul>
        <li><a th:href="@{/film-sessions}">Расписание</a></li>
        <li><a th:href="@{/films}">Кинотека</a></li>
    </ul>
</div>

<th:block th:replace="~{fragments/general :: libsBeforeEndBody}"></th:block>
</body>
</html>
